{:paths ["src" "resources"]
 :deps {org.clojure/core.async {:mvn/version "1.5.648"}
        clojure-lanterna/clojure-lanterna {:mvn/version "0.9.7"}
        com.h2database/h2 {:mvn/version "1.4.199"}
        integrant/integrant {:mvn/version "0.8.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.2.891"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.780"}
        remus/remus {:mvn/version "0.2.2"}
        ; Check whether this is, like, catostrophically insecure or something
        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}}
